html {background: #cbcaca;}
body {margin: 0; font-family: arial, helvetica, sans-serif; font-size: 0.95em; color: #363636;}
a:link, a:active, a:hover, a:visited {color: #cc5d03; text-decoration: none;}
i {font-size: 0.9em;}
.pad_left {padding-left: 15px;}
.thin_row {height: 10px;}

/* graph div */
#this_one {margin-bottom: 10px;}
#filter_list {float: left; min-height: 500px;}
#filter_insert {float: left;}

/* header */
#header {
  background: #363636;
  width: 100%;
  color: #cc5d03;
  margin-bottom: 30px;
  padding: 0;
  padding-bottom: 5px;
}

#header div.img {
  margin: 0 0 0 45%;
  border: none;
}

div#header div.right {
  float: right;
  text-align: right;
  margin-right: 15em;
}

div#header div.left {
  margin-left: 15em;
  float: left;
}

/* nav menu */
#menu {
  color: #fff;
  font-size: 80%;
}

#menu li {
  font-weight: normal;
}

div#menu{
}

ul#nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

ul#nav li{
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: -3px;
  text-align: center;
}

ul#nav a{
  width: 7em;
  padding: 5px 5px;
  background: #888888;
  text-decoration:none;
  color: #363636;
}
ul#nav a:hover {
  background: #dd7a31;
  color: #cbcaca;
}

ul#nav li.activelink a,ul#nav li.activelink a:hover {
  background: #cbcaca;
  color: #003;
}

/*#nav li.current {background: #cbcaca; padding-bottom: 10px; padding-top: 2px; -moz-border-radius: 5px 5px 0 0;}
#nav li.other {background: #5c5c5c; padding-bottom: 8px; padding-top: 2px; -moz-border-radius: 5px 5px 0 0;}*/

/* invoice layout */
div#invoice_summery {
  float: left;
  padding-bottom: 1em;
}

div#invoice_payment_summery {
  margin-left: 2em;
  float: left;
  text-align: right;
}

div#invoice_action_list {
  float: left;
  margin: 0.5em;
}

div#invoice_item_entry .right {
  float: left;
  width: 5em;
}

div#invoice_item_entry .left {
  float: left;
  width: 5em;
}

div#invoice_item_entry br {
  clear: both;
}

h3 {
  clear: left;
}

/* tables layout */
/*table {border-collapse: collapse; margin: 10px 0 0 0;} */
table {border-collapse: collapse; margin-left: auto; margin-right: auto;}
table th, td {padding-right: 15px;}
table tr.back:hover {background: #ddd;}

/* main page layout */
#content {width: 650px; margin-left: auto; margin-right: auto;}
h1 {font-size: 1.3em; color: #cc5d03;}

